name: Update README Game Counter

on:
  workflow_dispatch: # Allows manual trigger
  push: # Only run when changes to the README are pushed
    branches:
      - main
    paths:
      - 'README.md'
jobs:
  update-counter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      
      - name: Update README Counter
        run: python Scripts/game_counter.py
      
      - name: Check for changes
        id: check_changes
        run: |
          git diff --quiet README.md || echo "changes=true" >> $GITHUB_OUTPUT
      
      - name: Commit and Push Changes
        if: steps.check_changes.outputs.changes == 'true'
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md
          git commit -m "Update game counter"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
